# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# 秘密鍵
papa-point-app-firebase-adminsdk-bpwvb-1fd9aeb7fa.json